@font-face {
  font-family: "KCCChassam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.backcolor {
  background-color: #bb2649;
  padding: 7%;
  font-family: "KCCChassam";
  color: #eee;
  text-align: center;
}
hr {
  width: 80%;
  border: 4px;
  border-top: 3px solid #f1f1e6;
}
.startbox {
  margin: 12%;
  font-size: 112px;
  font-weight: bolder;
}
.textbox {
  font-size: 72px;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
}