.whyziihyun {
  font-size: 55px;
  display: flex;
  margin-left: 30px;
  margin-top: 2%;
  align-self: flex-start;
  font-family: "MaplestoryOTFBold";
  margin-right: 10px;
}
.selfiibox {
  height: 450px;
  margin-left: 10%;
  margin-top: 5%;
}
